# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
.env
venv/
ENV/
.conda/
.pipenv/
.pixi/

# Data / временные файлы
*.csv
*.tsv
*.log
*.sqlite3
*.db
*.h5
*.parquet

# IDE / редакторы
.vscode/
.idea/